<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientTypeVisibility</key>
	<string>localizationThroughForm</string>
	<key>imperativeChannelTension</key>
	<string>chapterParamTail</string>
	<key>promiseSingletonBehavior</key>
	<string>isolateAwayStrategy</string>
	<key>skinAtMediator</key>
	<string>layoutExceptPrototype</string>
	<key>statefulDimensionRotation</key>
	<string>unactivatedGrainCoord</string>
	<key>symbolAndStructure</key>
	<string>awaitUntilStyle</string>
	<key>transformerDecoratorTension</key>
	<string>alertBesideObserver</string>
</dict>
</plist>
