<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSampleSize</key>
	<string>resolverActivitySkewx</string>
	<key>custompaintValueBehavior</key>
	<string>desktopDependencyTint</string>
	<key>delegateModeDensity</key>
	<string>similarHandlerInset</string>
	<key>liteTextureDuration</key>
	<string>graphicAlongBridge</string>
	<key>localizationAboutStrategy</key>
	<string>constExtensionDepth</string>
	<key>normPlatformForce</key>
	<string>gramAdapterSkewx</string>
	<key>resourceFormSkewx</key>
	<string>modulusNearMode</string>
	<key>transitionFrameworkVelocity</key>
	<string>masterMementoShade</string>
	<key>utilViaSingleton</key>
	<string>decorationScopeColor</string>
</dict>
</plist>
