<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBeyondMediator</key>
	<string>activatedDependencyVelocity</string>
	<key>commandAboutVar</key>
	<string>movementMethodFrequency</string>
	<key>routeContextShade</key>
	<string>webDurationCount</string>
	<key>slashViaProxy</key>
	<string>animationNearSingleton</string>
	<key>stateByLayer</key>
	<string>nextCanvasIndex</string>
	<key>subscriptionTaskDirection</key>
	<string>cursorTaskDepth</string>
	<key>tickerTempleSpeed</key>
	<string>delegatePhaseMargin</string>
</dict>
</plist>
