<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardObserverOrigin</key>
	<string>servicePrototypeTheme</string>
	<key>channelThanTask</key>
	<string>delicateCompletionColor</string>
	<key>difficultLoopSaturation</key>
	<string>entityForType</string>
	<key>pageviewWorkDirection</key>
	<string>modelVisitorResponse</string>
	<key>transitionWithoutChain</key>
	<string>respectiveProfilePadding</string>
</dict>
</plist>
