<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandMethodVisible</key>
	<string>substantialCompleterAppearance</string>
	<key>disabledObserverForce</key>
	<string>transitionCommandDelay</string>
	<key>graphicKindMomentum</key>
	<string>dependencyPatternOrientation</string>
	<key>mobileSinceMemento</key>
	<string>diversifiedChannelTag</string>
	<key>progressbarThroughWork</key>
	<string>cupertinoFunctionStatus</string>
	<key>resourceFacadeRate</key>
	<string>commonCapsuleContrast</string>
	<key>significantPageviewCenter</key>
	<string>cartesianTextShape</string>
	<key>vectorSystemTheme</key>
	<string>uniqueTaskResponse</string>
</dict>
</plist>
